#newsletter-status-modal .product-image img {
	width: auto;
}

@media (max-width: 767px) {

	.newsletter-status-modal {
		width: 100%;
	}

	.newsletter-status-modal .modal-inner-wrap {
		margin: 0 auto !important;
		width: 100%;
		height: 100vh;
	}
}

@media (min-width: 768px) {

	.newsletter-status-modal .modal-inner-wrap {
		width: 575px;
		height: 200px;
	}
}

#newsletter-status-modal .content {
	max-height: 50%;
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 1em;
}

#newsletter-status-modal .buttons button {
	display: block;
	margin: 0 auto;
}

